/* LETTERS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                        /* HEADER */

header{
    background: linear-gradient(to right, #000000, #1a1a1a);
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px 20px;
}

.header__container-ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header__container-ul i{
    color: white;
    font-size: 40px;
}


.container__logo img{
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    color: white;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    letter-spacing:2px;
}

#a__link--active{
    color: rgb(57, 57, 57);
    border-bottom: 1px solid rgb(211,   211, 211);
    padding-bottom: 5px;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
}

.menu-list li a:hover{
    color: rgb(57, 57, 57);
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5px;
    transition: 0.2s;
}

.menu-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
}





                    /* CARRITO */

.contaier__bi-cart4{
    display: flex;
    align-items: center;
    width: 120px;
    height: 37px;
}

.container__i-carrito{
    display: flex;
    width: 40px;
    height: 30px;
    background-color: #0e0e0e;
    justify-content: center;
}

.contaier__bi-cart4 i{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.container__i-carrito{
    margin-top: 30px;
    text-decoration: none;
}

.header__container-ul i:hover{
    color: rgb(57, 57, 57);
    transition: 0.2s;
}




                            /* MAIN */


main{
    background-color: black;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}


.container-name__brucs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 150px 0;
}

.logo-brucs{
    width: 120px;
    height: auto;
    background-color: white;
    border-radius: 100px;
}

.container-name__brucs h3{
    font-size: 6em;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-shadow: 2px 3px 5px rgba(235, 226, 226, 0.7);
}


                        /* SECCION 1 - WHO */

.section__who__sect-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.subcont__hp__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.tittle__who{
    font-size: 4em;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.text__who{
    display: flex;
    font-size: 1.5em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.text__who span {
  margin: 0 0 0 0.4em;
  font-family: italic;
  font-weight: 800;
}

.sec__2da__display-flex__limit__mp__eleg{
    display: flex;
    padding: 40px;
}

.bloque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;          
    margin: 0 10px;   
    color: white;
    text-align: center;
    background-color: #0d0d0d;
    padding: 40px;
    border-radius: 12px;
    gap: 10px;
}


.tittle__2da__display-flex__limit__mp__eleg{
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.textp__2da__display-flex__limit__mp__eleg{
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}
                
.bi{
    font-size: 1.6em;
}

.cont__img__who__right img{
    width: 50em;
    border-radius: 2em;
}


                        /* SECCION 2 IMG */
.img__who2{
    width: 450px;
}

.cont__who__global2{
    display: flex;
    gap: 40px;
    padding: 50px;
}

.subcontainer__hp__flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.tittle__who2{
    font-size: 4em;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.text__who2{
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

                    /* PRE-FOOTER */
.sect-accRed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #0d0d0d;
}

.container__2sections{
    display: flex;
    gap: 400px;
}

.menu-list__footer{
    display: none;
}


                    /* INFO EXTRA */
.info-extra{
    display: grid;
    gap: 5px;
}

.info-extra h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}


                    /* NEWSLETTER */

.container__h3-p__desc-susc__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__h3-p__desc-susc__newsletter h3{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-suscrip{
    color: #333;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__inp-button__newsletter{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #282828;
}

.newsletter {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding-bottom: .5rem;
}

.newsletter button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #4e4e4e;
    transition: transform 0.2s ease;
}

.newsletter button:hover {
    color: #777777;
    transform: translateX(3px);
}



                        /* CUENTAS */
.cont__redAccounts{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.sectAccounts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__tittleAccounts h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

                        /* FOOTER */
footer{
        background: linear-gradient(to right, #1a1a1a, #000000);
}

.seccCOPY{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-spanDef{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1000px;
}


                            /* RESPONSIVE */

@media (max-width: 768px){

    *** /* HEADER */ ***

    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .header__container-ul{
        display: flex;
    }

    .menu-list{
        display: none;
        flex-direction: column;
    }

    .contaier__bi-cart4{
        margin-right: 70px;
    }

    .contaier__bi-cart4 a i{
        font-size: 1.2em;
    }

    .menu-icon {
        display: block;
        align-content: center;
    }

    .menu-icon i{
        font-size: 1.2em;
    }


    /* *** MAIN *** */


    /* PRIMERA SECCION */
    .section__who__sect-1, .text__who{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .tittle__who{
        display: flex;
        text-align: center;
        font-size: 3.5em;
        margin-bottom: 1.5rem;
    }

    .text__who em{
        margin: 0;
    }
    
    .cont__img__who__right img{
        width: 80%;
        border-radius: 10px;
    }
    

    /* MP ELEG */

    .sec__2da__display-flex__limit__mp__eleg{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }


    /* SEGUNDA SECCIÓN */

    .cont__who__global2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .cont__img__who__flex2 img{
        width: 50%;
        border-radius: 10px;
    }

    .tittle__who2{
        display: flex;
        text-align: center;
        font-size: 3.5em;
        margin-bottom: 1.5rem;
    }




    *** /* PRE-FOOTER */ ***

    .sect-accRed{
        flex-direction: column;
        gap: 30px;
    }

    .sect-accRed>.info-extra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter{
        flex-direction: column;
    }

    .cont__tittleAccounts h3{
        text-align: center;
    }

    .sect__info-news-nav{
        display: flex;
    }

    .sect-accRed{
        display: flex;
    }

    .container__2sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu-list__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        gap: 15px;
    }

    .menu-list__footer li{
        list-style-type: none;
    }

    .menu-list__footer li a{
        color: #4e4e4e;
        text-decoration: none;
    }

    #a__link--activeF{
        color: white;
    }


    .seccCOPY{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .container__copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-spanDef{
        margin: 0;
    }

    footer{
        display: flex;
        align-items: center;
    }


}


@media (max-width: 480px){

    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    .container__i-carrito{
        margin-left: 35px;
    }


    .container__li-s2Of li, .contaier__li-s2Tr li{
        font-size: 25px;
    }




    /* MAIN */

    .container-name__brucs{
        padding: 0;
        padding-top: 5em;
    }



    /* PRIMERA SECCION */

    .cont__img__who__right img{
        width: 100%;
    }

    .tittle__who{
        font-size: 2.5em;
    }

    .text__who{
        display: flex;
        font-size: 1.5em;
    }

    
    /* SEGUNDA SECCION */

    .cont__img__who__flex2 img{
        width: 80%;
    }

    .tittle__who2{
        font-size: 2.5em;
    }

    .text__who2{
        display: flex;
        font-size: 1.5em;
    }

    .container-scroll-responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 20em;
        overflow-y: auto;
        padding-right: 10px;
    }


             /* PRE-FOOTER */

    .menu-list__footer{
        text-align: center;
    }

    .info-extra{
        text-align: center;
    }

    .sect-accRed{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .container__h3-p__desc-susc__newsletter{
        text-align: center;
    }



    .cont__tittleAccounts h3{
        text-align: center;
    }


                /* FOOTER */

    .text-copyright, .textDef{
        font-size: 15px;
        text-align: center;
    }
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}