*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                       /* HEADER */

header{
    background: linear-gradient(to right, #000000, #1a1a1a);
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px 20px;
}

.header__container-ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header__container-ul i{
    color: white;
    font-size: 40px;
}


.container__logo img{
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    color: white;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    letter-spacing:2px;
}

#a__link--active{
    color: rgb(57, 57, 57);
    border-bottom: 1px solid rgb(211,   211, 211);
    padding-bottom: 5px;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
}

.menu-list li a:hover{
    color: rgb(57, 57, 57);
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5px;
    transition: 0.2s;
}

                   /* CARRITO */

.contaier__bi-cart4{
    display: flex;
    align-items: center;
    width: 120px;
    height: 37px;
}

.container__i-carrito{
    display: flex;
    width: 40px;
    height: 30px;
    background-color: #0e0e0e;
    justify-content: center;
}

.contaier__bi-cart4 i{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.container__i-carrito{
    margin-top: 30px;
    text-decoration: none;
}

.header__container-ul i:hover{
    color: rgb(57, 57, 57);
    transition: 0.2s;
}



main{
    background-color: black;
}



p, h1, h2, h3, span{
    color: white;
}


                        /* LOGO BRUCS */

.container-name__brucs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 150px 0;
}

.logo-brucs{
    width: 120px;
    height: auto;
    background-color: white;
    border-radius: 100px;
}

.container-name__brucs h3{
    font-size: 6em;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-shadow: 2px 3px 5px rgba(235, 226, 226, 0.7);
}



                    /* PRODUCTO - CARRITO */
.sect__carrits-global{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: 1px solid #fff;
    margin: 80px;

}


.container__img-caractBuzo>img{
    width: 70vh;
}


                /* CARACTERÍSTICAS ITEMS - DESCRIP */

.sect__text-descrip{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sect__text-descrip ul{
    color: white;
}

.sect__text-descrip ul li{

}


                   /* PRE-FOOTER */
.sect-accRed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #0d0d0d;
}


                    /* INFO EXTRA */
.info-extra{
    display: grid;
    gap: 5px;
}

.info-extra h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}


                    /* NEWSLETTER */

.container__h3-p__desc-susc__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__h3-p__desc-susc__newsletter h3{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-suscrip{
    color: #333;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__inp-button__newsletter{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #282828;
}

.newsletter {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding-bottom: .5rem;
}

.newsletter button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #4e4e4e;
    transition: transform 0.2s ease;
}

.newsletter button:hover {
    color: #777777;
    transform: translateX(3px);
}



                        /* CUENTAS */
.cont__redAccounts{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.sectAccounts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__tittleAccounts h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


                        /* FOOTER */
footer{
        background: linear-gradient(to right, #1a1a1a, #000000);
}

.seccCOPY{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-spanDef{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1000px;
}