*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                       /* HEADER */

header{
    background: linear-gradient(to right, #000000, #1a1a1a);
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px 20px;
}

.header__container-ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header__container-ul i{
    color: white;
    font-size: 40px;
}


.container__logo img{
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    color: white;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    letter-spacing:2px;
}

#a__link--active{
    color: rgb(57, 57, 57);
    border-bottom: 1px solid rgb(211,   211, 211);
    padding-bottom: 5px;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
}

.menu-list li a:hover{
    color: rgb(57, 57, 57);
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5px;
    transition: 0.2s;
}

.menu-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
}



                   /* CARRITO */

.contaier__bi-cart4{
    display: flex;
    align-items: center;
    width: 120px;
    height: 37px;
}

.container__i-carrito{
    display: flex;
    width: 40px;
    height: 30px;
    background-color: #0e0e0e;
    justify-content: center;
}

.contaier__bi-cart4 i{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.container__i-carrito{
    margin-top: 30px;
    text-decoration: none;
}

.header__container-ul i:hover{
    color: rgb(57, 57, 57);
    transition: 0.2s;
}



main{
    background-color: black;
}



p, h1, h2, h3, span{
    color: white;
}


                        /* LOGO BRUCS */

.container-name__brucs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 10px 0;
}

.logo-brucs{
    width: 120px;
    height: auto;
    background-color: white;
    border-radius: 100px;
}

.container-name__brucs h3{
    font-size: 6em;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-shadow: 2px 3px 5px rgba(235, 226, 226, 0.7);
}



                    /* PRODUCTO - CARRITO */
.sect__carrits-global{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 200px 20px;
}




                /* CARACTERÃSTICAS ITEMS - DESCRIP */

.cont__products-pay-value{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}

.sect__cart-items{
    margin-left: 20px;
}

.cont__cart-item{
    display: flex;
    border: 1px solid #fff;
    padding: 50px 10px 15px 30px;
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6);
}

.cont__cart-item img{
    width: 50vh;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sect__item-info{
    margin: 0 8px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 10vh;
}

.sect__item-info h2{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sect__item-info p{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-remove{
    height: 3vh;
}


.sect__text-descrip{
    display: flex;
    flex-direction: column;
    padding: 50px 10px 50px 50px;
    text-align: center;
    justify-content: center;
    
}

.sect__text-descrip ul{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sect__text-descrip ul li{
    font-size: 1.2em;
}

.cont__item-actions{
    display: flex;
    gap: 0.5em;
    margin-left: 15px;
}

.cont__item-actions span{
    margin-top: 2px;
}

.cont__item-actions button{
    height: 23px;
    border: none;
    border-radius: 8px;
    padding: 4px;
    background-color: #282828;
    color: white;
    cursor: pointer;
}

.cont__item-actions button:hover{
    color: #282828;
    background-color: white;
    transition: 0.3s;
}


                /* ASIDE SUMARY */
.container__aside-summary{
    display: flex;
    margin-left: 50px;
    border: 1px solid #fff;
    padding: 50px 10px 50px 30px;
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6);
    width: 50vh;
}

.cart-summary{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.cart-summary p{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.hr__summary{
    width: 80%;
}


.cont__checkout{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn_checkout{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    color: #0e0e0e;
}

.btn_checkout:hover{
    background-color: #282828;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}



                   /* PRE-FOOTER */
.sect-accRed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #0d0d0d;
}

.container__2sections{
    display: flex;
    gap: 400px;
}

.menu-list__footer{
    display: none;
}


                    /* INFO EXTRA */
.info-extra{
    display: grid;
    gap: 5px;
}

.info-extra h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}


                    /* NEWSLETTER */

.container__h3-p__desc-susc__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__h3-p__desc-susc__newsletter h3{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-suscrip{
    color: #333;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__inp-button__newsletter{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #282828;
}

.newsletter {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding-bottom: .5rem;
}

.newsletter button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #4e4e4e;
    transition: transform 0.2s ease;
}

.newsletter button:hover {
    color: #777777;
    transform: translateX(3px);
}



                        /* CUENTAS */
.cont__redAccounts{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.sectAccounts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__tittleAccounts h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


                        /* FOOTER */
footer{
        background: linear-gradient(to right, #1a1a1a, #000000);
}

.seccCOPY{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-spanDef{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1000px;
}



@media (max-width: 768px){

    html, body {
        overflow-x: hidden;
    }


    /* HEADER */

    .header__container-ul{
        display: flex;
    }

    .menu-list{
        display: none;
        flex-direction: column;
    }

    .contaier__bi-cart4{
        margin-right: 70px;
    }

    .contaier__bi-cart4 a i{
        font-size: 1.2em;
    }

    .menu-icon {
        display: block;
        align-content: center;
    }

    .menu-icon i{
        font-size: 1.2em;
    }

    /* PRE-FOOTER */

    .sect-accRed{
        flex-direction: column;
        gap: 30px;
    }

    .sect-accRed>.info-extra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter{
        flex-direction: column;
    }

    .sect__info-news-nav{
        display: flex;
    }

    .sect-accRed{
        display: flex;
    }

    .container__2sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu-list__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        gap: 15px;
    }

    .menu-list__footer li{
        list-style-type: none;
    }

    .menu-list__footer li a{
        color: #4e4e4e;
        text-decoration: none;
    }

    #a__link--activeF{
        color: white;
    }


    .seccCOPY{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .container__copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-spanDef{
        margin: 0;
    }

    footer{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 480px){
    
    .container__i-carrito{
        margin-left: 35px;
    }


    .container__li-s2Of li, .contaier__li-s2Tr li{
        font-size: 25px;
    }

            /* PRE-FOOTER */

    .menu-list__footer{
        text-align: center;
    }

    .info-extra{
        text-align: center;
    }



    .container__h3-p__desc-susc__newsletter{
        text-align: center;
    }



    .cont__tittleAccounts h3{
        text-align: center;
    }


                /* FOOTER */

    .text-copyright, .textDef{
        font-size: 15px;
        text-align: center;
    }
}