/* LETTERS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                        /* HEADER */

header{
    background: linear-gradient(to right, #000000, #1a1a1a);
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px 20px;
}

.header__container-ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header__container-ul i{
    color: white;
    font-size: 40px;
}


.container__logo img{
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    color: white;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    letter-spacing:2px;
}

#a__link--active{
    color: rgb(57, 57, 57);
    border-bottom: 1px solid rgb(211,   211, 211);
    padding-bottom: 5px;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
}

.menu-list li a:hover{
    color: rgb(57, 57, 57);
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5px;
    transition: 0.2s;
}

.menu-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
}

                    /* CARRITO */

.contaier__bi-cart4{
    display: flex;
    align-items: center;
    width: 120px;
    height: 37px;
}

.container__i-carrito{
    display: flex;
    width: 40px;
    height: 30px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
}

.contaier__bi-cart4 i{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #0f0f0f;
}

.container__i-carrito{
    margin-top: 30px;
    text-decoration: none;
}

.header__container-ul i:hover{
    color: rgb(57, 57, 57);
    transition: 0.2s;
}

                            /* MAIN */

main{
    background-color: #000000;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

label{
    color: white;
}

.sect-formGLOBAL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.tittle__contact{
    margin: 40px;
}

.tittle__contact h1{
    font-size: 3.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  background: #111;
  padding: 25px 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

form label {
  display: block;
  margin: 12px 0 6px;
  font-weight: bold;
  font-size: 14px;
}

form input, form select, form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
}

form input:focus, form select:focus, form textarea:focus {
  outline: 2px solid white;
  background: #333;
  color: white;
}

form textarea {
  resize: none;
  height: 100px;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #0d0d0d;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #0056b3;
}

.container-check{
    display: flex;
    justify-content: center;    
    align-items: center; 
    gap: 8px;  
}

.checkbox-container input {
  margin: 0; 
}

#check-aceptar{
    width: auto;
    margin-bottom: 0;
}




                    /* PRE-FOOTER */
.sect-accRed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #0d0d0d;
}

.container__2sections{
    display: flex;
    gap: 400px;
}

.menu-list__footer{
    display: none;
}


                    /* INFO EXTRA */
.info-extra{
    display: grid;
    gap: 5px;
}

.info-extra h3{
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


                    /* NEWSLETTER */

.container__h3-p__desc-susc__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__h3-p__desc-susc__newsletter h3{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-suscrip{
    color: #333;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__inp-button__newsletter{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #282828;
}

.newsletter {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding-bottom: .5rem;
}

.newsletter button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #4e4e4e;
    transition: transform 0.2s ease;
}

.newsletter button:hover {
    color: #777777;
    transform: translateX(3px);
}



                        /* CUENTAS */
.cont__redAccounts{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.sectAccounts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__tittleAccounts h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


                        /* FOOTER */
footer{
        background: linear-gradient(to right, #1a1a1a, #000000);
}

.seccCOPY{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-spanDef{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1000px;
}



.light-mode{
    background-color: white;
    color: black;
}

.sect__change-color{
    padding: 1em 0 0 1em;
}

#btn-changec{
    padding: 0.30em;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#btn-changec:hover{
    cursor: pointer;
}


                           /* RESPONSIVE */

@media (max-width: 768px){

     header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    /* HEADER */

    .header__container-ul{
        display: flex;
    }

    .menu-list{
        display: none;
        flex-direction: column;
    }

    .contaier__bi-cart4{
        margin-right: 70px;
    }

    .contaier__bi-cart4 a i{
        font-size: 1.2em;
    }

    .menu-icon {
        display: block;
        align-content: center;
    }

    .menu-icon i{
        font-size: 1.2em;
    }


    /* PRE-FOOTER */

    .sect-accRed{
        flex-direction: column;
        gap: 30px;
    }

    .sect-accRed>.info-extra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter{
        flex-direction: column;
    }

    .sect__info-news-nav{
        display: flex;
    }

    .sect-accRed{
        display: flex;
    }

    .container__2sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu-list__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        gap: 15px;
    }

    .menu-list__footer li{
        list-style-type: none;
    }

    .menu-list__footer li a{
        color: #4e4e4e;
        text-decoration: none;
    }

    #a__link--activeF{
        color: white;
    }


    .seccCOPY{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .container__copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-spanDef{
        margin: 0;
    }

    footer{
        display: flex;
        align-items: center;
    }


}


@media (max-width: 480px){

    /* HEADER */

    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    .container__i-carrito{
        margin-left: 35px;
    }


    .container__li-s2Of li, .contaier__li-s2Tr li{
        font-size: 25px;
    }



   /* MAIN */

   .sect-formGLOBAL{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
   }

   .tittle-cont{
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
   }




            /* PRE-FOOTER */

    .menu-list__footer{
        text-align: center;
    }

    .info-extra{
        text-align: center;
    }



    .container__h3-p__desc-susc__newsletter{
        text-align: center;
    }



    .cont__tittleAccounts h3{
        text-align: center;
    }


                /* FOOTER */

    .text-copyright, .textDef{
        font-size: 15px;
        text-align: center;
    }
}