/* **** LETRAS **** */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                        /* HEADER */

header{
    background: linear-gradient(to right, #000000, #1a1a1a);
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px 20px;
}

.header__container-ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header__container-ul i{
    color: white;
    font-size: 40px;
}


.container__logo img{
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    letter-spacing:2px;
    color: white;
}

#a__link--active{
    color: rgb(57, 57, 57);
    border-bottom: 1px solid rgb(211,   211, 211);
    padding-bottom: 5px;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
}

.menu-list li a:hover{
    color: rgb(57, 57, 57);
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5px;
    transition: 0.2s;
}

.menu-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
}

                    /* CARRITO */

.contaier__bi-cart4{
    display: flex;
    align-items: center;
    width: 120px;
    height: 37px;
}

.container__i-carrito{
    display: flex;
    width: 40px;
    height: 30px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
}

.contaier__bi-cart4 i{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #0f0f0f;
}

.container__i-carrito{
    margin-top: 30px;
    text-decoration: none;
}

.header__container-ul i:hover{
    color: rgb(57, 57, 57);
    transition: 0.2s;
}


                        /* MENU */


aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #0e0e0e;
    padding: 15px;
    border-radius: 10px;
    margin-right: 70px;
    height: fit-content;
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6);
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 10px;
}

aside a {
    text-decoration: none;
    color: #777777;
}

aside h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

aside a:hover{
    color: #f4f4f4 !important;
    transition: 0.3s;
}

aside select{
    background-color: #0e0e0e;
    color: white;
    padding: 0.75em;
    margin-bottom: 1em;
    border-radius: 10px;
    border-color: #f4f4f4;
}

.container-button-ver-todos{
    width: 100%;
    display: flex;
    justify-content: center;
}

aside button{
    border: none;
    border-radius: 2em;
    padding: 0.55em;
    width: 8em;
    color: #f4f4f4;
    background-color: #1a1a1a;
    cursor: pointer;
}

aside button:hover{
    color: #1a1a1a;
    background-color: #f4f4f4;
    transition: 0.3s;
}

main{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: black;
}




                        /* SECCIÓN PRODUCTOS */

    /* SECTION SITE-REF */
.container__ref-site{
    display: none;
}

.sect-filters-category{
    display: none;
}


    /* SECTION PRODUCTOS */
.container__flex__products-img{
    display: flex;
    flex-direction: column;
}

.container__h1-products{
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.sect__products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-grow: 1;
    gap: 130px;
}

.container__img-products {
  background-color: #0f0f0f; 
  border-radius: 15px;
  padding: 1rem;
  width: 16em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container__img-products a img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover; 
  border-radius: 10px;
}

.sect__tittle-price-caract__products {
  text-align: center;
}

.text-name__product {
  font-size: 1rem;
  margin-top: 1em;
}
.text-name__product strong{
    font-family: "Montserrat",sans-serif;
}

.product-value {
  font-weight: bold;
}

.sect-cuotas p{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.container__img-products:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6);
}

.container__img-products a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

/* .container__button-carrito {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-add {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: 0.3s ease, color 0.3s ease;
}

.btn-add:hover {
  background-color: #000;
  color: white;
}

.btn-add a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.btn-add i {
  margin-left: 6px;
} */





                    /* PRODUCTOS */

.tittle-products{
    color: white;
    text-align: center;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* BUZO */

/* REMERA */

/* ZAPATILLA */
.zapBrucs-product{
    border-radius: 20px;
}

/* GORRA */
.gorraBrucs-product{
    border-radius: 20px;
}





.container__grid-columns__products-img{
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    margin-bottom: 100px;
}


.container__img-caractbuz{
    display: grid;
    align-items: center;
}
.buzBrucs_caract-product{
    width: 100%;
    padding: 40px;
}

.sect__tittle-price-caract__products{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sect__tittle-price-caract__products h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.sect__tittle-price-caract__products p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}


.btn-add {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #212121; 
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-add:hover {
  background-color: #1a1a1a;
  color: aliceblue; 
  transform: scale(1.05);
}

.container__button-carrito button:hover{
    color: white;
}

.btn-add:active {
  background-color: #000; 
  transform: scale(0.98);
}

.btn-add i {
  font-size: 20px; 
  margin-left: 8px; 
  color: inherit;
}

.link__carrito-buzo{
    text-decoration: none;
    color: black;
}



h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}


                            /* SECCIÓN BARRAS */

.sect_global-barr {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 70px;
    background-color: #070707;
}

.box-barras{
    flex: 1;          
    margin: 0 10px;   
    color: white;
    text-align: center;
    background-color: #0d0d0d;
    padding: 40px;
    border-radius: 12px;
}


.box-barras h3{
    color: #777777;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-barras p{
    color: #777777;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}




                /* MENU-RESPONSIVE */
.menu-active {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: linear-gradient(to bottom, #1a1a1a, #000000);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    gap: 20px;
}


/* buscandor */

.container-buscador {
    display: flex;
    justify-content: left1;
    padding: 20px;
}

#input-buscar {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #777;
    background-color: #1a1a1a;
    color: white;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
}

#input-buscar:focus {
    outline: none;
    border-color: white;
}


.container-titulo-filtro{
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

#titulo-filtro{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}




                    /* PRE-FOOTER */
.sect-accRed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #0d0d0d;
}

.container__2sections{
    display: flex;
    gap: 400px;
}

.menu-list__footer{
    display: none;
}


                    /* INFO EXTRA */
.info-extra{
    display: grid;
    gap: 5px;
}

.info-extra h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}


                    /* NEWSLETTER */

.container__h3-p__desc-susc__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__h3-p__desc-susc__newsletter h3{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-suscrip{
    color: #7a7a7a;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__inp-button__newsletter{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #282828;
}

.newsletter {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding-bottom: .5rem;
}

.newsletter button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #4e4e4e;
    transition: transform 0.2s ease;
}

.newsletter button:hover {
    color: #777777;
    transform: translateX(3px);
}



                        /* CUENTAS */
.cont__redAccounts{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.sectAccounts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__tittleAccounts{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 10px 0 10px;
}


                        /* FOOTER */
footer{
        background: linear-gradient(to right, #1a1a1a, #000000);
}

.seccCOPY{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-spanDef{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1000px;
}

.container__copyright{
    display: flex;
    gap: 2em;
}

.container__copyright a{
    color: #4e4e4e;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    font-weight: bold;
}

.container__copyright a:hover{
    text-decoration: underline;
    transition: 0.3s;
}


                            /* RESPONSIVE */

                    /* *** RESPONSIVE 768px *** */

@media (max-width: 768px){


    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    /* HEADER */

    .header__container-ul{
        display: flex;
    }

    .menu-list{
        display: none;
        flex-direction: column;
    }

    .contaier__bi-cart4{
        margin-right: 70px;
    }

    .contaier__bi-cart4 a i{
        font-size: 1.2em;
    }

    .menu-icon {
        display: block;
        align-content: center;
    }

    .menu-icon i{
        font-size: 1.2em;
    }

    
    /* MAIN */

    main{
        flex-direction: column;
        align-items: center;
    }

    aside{
        display: none;
    }


    /* REF-SITE */

    .container__ref-site{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 2em;
    }

    .text-site a{
        color: #4e4e4e;
        text-decoration: none;
    }

    .ref-split{
        color: #4e4e4e;
        margin: 0 0.3em 0 0.3em;
    }

    #text-site-active{
        color: white;
        font-weight: bold;
    }

    /* FILTROS */

    .sect-filters-category{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 2.2em;
        padding-top: 4em;
        padding-left: 1.5em;
    }

    .container-filter, .container-category h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
    }
    

    .container-filter select, .container-category select{
        margin-top: 0.9em;
        background-color: #0e0e0e;
        color: white;
        padding: 8px;
        border-radius: 10px;
        border-color: #f4f4f4;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.9rem;
    }

    .container-filter select option, .container-category select option{
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.9rem;
    }


    /* Productos */

    .container__grid-columns__products-img{
        padding: 0;
    }

    .container__img-products{
        padding: 1rem 1rem 1.2rem;
    }

    .container__img-products img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 1em;
    }

    .container__img-products h2 strong{
        text-align: center;
        margin: 0.8rem 0 0.5rem;
    }

    .container__img-products p{
        text-align: center;
        margin-bottom: 0.8rem;
    }

    .sect__products{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        grid-template-columns: repeat(2, 1fr);
    }


    



    /* Barras */

    .sect_global-barr{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .box-barras{
        width: 90%;
    }


    /* PRE-FOOTER */

    .sect-accRed{
        flex-direction: column;
        gap: 30px;
    }

    .sect-accRed>.info-extra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter{
        flex-direction: column;
    }

    .sect__info-news-nav{
        display: flex;
    }

    .sect-accRed{
        display: flex;
    }

    .container__2sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu-list__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        gap: 15px;
    }

    .menu-list__footer li{
        list-style-type: none;
    }

    .menu-list__footer li a{
        color: #4e4e4e;
        text-decoration: none;
    }

    #a__link--activeF{
        color: white;
    }


    .seccCOPY{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .container__copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-spanDef{
        margin: 0;
    }

    footer{
        display: flex;
        align-items: center;
    }


}



                        /* ***RESPONSIVE 480*** */

@media (max-width: 480px){

    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    .container__i-carrito{
        margin-left: 35px;
    }


    .container__li-s2Of li, .contaier__li-s2Tr li{
        font-size: 25px;
    }



        /* MAIN */

    #titulo-filtro{
        width: 100%;
        text-align: center;
    }
    
    .sect__products {
        grid-template-columns: 1fr; 
    }

    .container__h1-products{
        margin: 20px 0;
        padding: 0;
    }



    /* FILTROS */

    .sect-filters-category{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-top: 4em;
        padding-left: 1.5em;
    }

    .container-filter, .container-category h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
    }
    

    .container-filter select, .container-category select{
        margin-top: 0.9em;
        background-color: #0e0e0e;
        color: white;
        padding: 8px;
        border-radius: 10px;
        border-color: #f4f4f4;
    }


    /* BUSCADOR */

    .container-buscador input{
        display: flex;
        text-align: center;
    }

            /* PRE-FOOTER */

    .menu-list__footer{
        text-align: center;
    }

    .info-extra{
        text-align: center;
    }



    .container__h3-p__desc-susc__newsletter{
        text-align: center;
    }



    .cont__tittleAccounts h3{
        text-align: center;
    }


                /* FOOTER */

    .text-copyright, .textDef{
        font-size: 15px;
        text-align: center;
    }
}

html, body {
  width: 100%;
}