@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



                        /* HEADER */

header{
    background: linear-gradient(to right, #000000, #1a1a1a);
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px 20px;
}

.header__container-ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header__container-ul i{
    color: white;
    font-size: 40px;
}


.container__logo img{
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    color: white;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    letter-spacing:2px;
}

#a__link--active{
    color: rgb(57, 57, 57);
    border-bottom: 1px solid rgb(211,   211, 211);
    padding-bottom: 5px;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
}

.menu-list li a:hover{
    color: rgb(57, 57, 57);
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5px;
    transition: 0.2s;
}

.menu-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
}


p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

.container__img-princ img{
    width: 100%;
}

                    /* CARRITO */

.contaier__bi-cart4{
    display: flex;
    align-items: center;
    width: 120px;
    height: 37px;
}

.container__i-carrito{
    display: flex;
    width: 40px;
    height: 30px;
    background-color: #0e0e0e;
    justify-content: center;
}

.contaier__bi-cart4 i{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.container__i-carrito{
    margin-top: 30px;
    text-decoration: none;
}

.header__container-ul i:hover{
    color: rgb(57, 57, 57);
    transition: 0.2s;
}



main{
    background-color: black;
}



                    /* SECCIÓN 1 */

.container-princ__h1__p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.tittle1__BRUCS{
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    color: white;
    font-size: 64px;
  text-shadow: 2px 3px 5px rgba(228, 228, 228, 0.7);
}

.text1__BRUCS{
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

.text1OnBrucs{
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}



                    /* SECCIÓN 2 */
.s2-container__list{
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right, #1a1a1a, #000000);
    padding: 40px 20px; 
    max-width: 900px; 
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6); 
}

.s2-li__list{
    flex-direction: column;
    list-style-type: none;
    font-size: 2em;
    color: white;
}



.container__li-s2Of{
    padding: 20px;
}




                    /* FLEX img's */
.container__info__img{
    display: flex;
    gap: 30px;
    width: 70%; 
    margin: 40px auto;
    background-color: #0f0e0e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6); 
}

.info-item{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

                /* IMG's */

.info-item__manga{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6); 
}

.info-item__cost{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6); 
}


        /* IMG's Titulos y textos */
.tittle__IMG-mang-cost{
    font-weight: 400;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.text__IMG-mang-cost{
    font-size: 1.2em;
    color: #9a9a9a;
}



.div1-hr{
    margin: 20px;
}


            /* SECCION VIDEO */
.container__vid-brucs{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 40px;
}


.cont__h2-vid{
    margin: 20px;
    padding: 20px;
}

.tittle-h2__vid{
    font-size: 2.5em;
    color: #9a9a9a;
}

.cont-vidyt{
    margin: 20px;
    padding: 20px;
}

.vidyt{
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(108, 108, 108, 0.6); 
}


.div2-hr{
    margin: 20px;
}




                /* SECCIÓN BUZO -BRUCS */

.cont-dis{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.sect-tittle_text-dis{
    padding: 20px;
}

.tittle-dis{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
}

.text-dis{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}



                    /* PRE-FOOTER */
.sect-accRed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #0d0d0d;
}

.container__2sections{
    display: flex;
    gap: 400px;
}

.menu-list__footer{
    display: none;
}


                    /* INFO EXTRA */
.info-extra{
    display: grid;
    gap: 5px;
}

.info-extra h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}


                    /* NEWSLETTER */

.container__h3-p__desc-susc__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__h3-p__desc-susc__newsletter h3{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-suscrip{
    color: #333;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__inp-button__newsletter{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #282828;
}

.newsletter {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding-bottom: .5rem;
}

.newsletter button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #4e4e4e;
    transition: transform 0.2s ease;
}

.newsletter button:hover {
    color: #777777;
    transform: translateX(3px);
}



                        /* CUENTAS */
.cont__redAccounts{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.sectAccounts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__tittleAccounts h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


                        /* FOOTER */
footer{
        background: linear-gradient(to right, #1a1a1a, #000000);
}

.seccCOPY{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-spanDef{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1000px;
}





                                /* RESPONSIVE */
@media (max-width: 768px){


    /* HEADER */

    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .header__container-ul{
        display: flex;
    }

    .menu-list{
        display: none;
        flex-direction: column;
    }

    .contaier__bi-cart4{
        margin-right: 70px;
    }

    .contaier__bi-cart4 a i{
        font-size: 1.2em;
    }

    .menu-icon {
        display: block;
        align-content: center;
    }

    .menu-icon i{
        font-size: 1.2em;
    }


    /* MAIN */

    main{
        flex-direction: column;
    }

    .container__info__img{
        width: 100%;
    }


    /* PRE-FOOTER */

    .sect-accRed{
        flex-direction: column;
        gap: 30px;
    }

    .sect-accRed>.info-extra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter{
        flex-direction: column;
    }

    .sect__info-news-nav{
        display: flex;
    }

    .sect-accRed{
        display: flex;
    }

    .container__2sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu-list__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        gap: 15px;
    }

    .menu-list__footer li{
        list-style-type: none;
    }

    .menu-list__footer li a{
        color: #4e4e4e;
        text-decoration: none;
    }

    #a__link--activeF{
        color: white;
    }


    .seccCOPY{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .container__copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-spanDef{
        margin: 0;
    }

    footer{
        display: flex;
        align-items: center;
    }
}




@media (max-width: 480px){

        /* HEADER */
    
    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    .container__i-carrito{
        margin-left: 35px;
    }


    .container__li-s2Of li, .contaier__li-s2Tr li{
        font-size: 25px;
    }




    /* SECCIÓN IMAGEN-H1-TEXT */


    .container__info__img{
        display: flex;
        flex-direction: column-reverse;
    }


            /* MANGA */

    
    .info-item__manga, .info-item__cost{
        width: 100%;
        height: auto;
    }
            
    .tittle__IMG-mang-cost{
        font-size: 20px;
    }

    .text__IMG-mang-cost{
        font-size: 16px;
    }


    
    /* TITULO-VIDEO */

    .tittle-h2__vid{
        font-size: 25px;
    }

    .cont-vidyt video {
        width: 100%;
        height: auto;
    }


    .tittle-dis{
        font-size: 25px;
    }

    .text-dis{
        font-size: 16px;
    }




            /* PRE-FOOTER */

    .menu-list__footer{
        text-align: center;
    }

    .info-extra{
        text-align: center;
    }



    .container__h3-p__desc-susc__newsletter{
        text-align: center;
    }



    .cont__tittleAccounts h3{
        text-align: center;
    }


                /* FOOTER */

    .text-copyright, .textDef{
        font-size: 15px;
        text-align: center;
    }
}